:root{
    --fontLato: "Lato";
    --colorGold: #fff200;
}

.page{
    max-width: 1600px;
    margin: 0 auto;   
}

/* ----------------------------------------------HEADER ---------------------------------------*/
.header{
    width: 100%;
}

.headerTopBox{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/**********************************************SLIDER*******************************************/

.btnBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: -80px;
}
.slider__item{
   
    text-align: center;
    width: 1075px;
    height: 108px;
    font-size: 27px;
    line-height: 42px;
    color: #ffffff;
    font-family: "Lato";
    text-align: center;
    padding: 0 10px;
} 

.slider{
    max-width: 1170px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.dots{
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;

}

.dots__dot{
    cursor: pointer;
    width: 13px;
    height: 13px;
    border-radius: 6px;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.35);
    border: 1px solid #ffffff;
    display: inline-block;
    transition: background-color 1s ease;
    
}

.active, .dots__dot:hover{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.35);
    background-color: #ffffff;
    transition: 0.3s ease;
}

.fade{
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade{
    from{
        opacity: 0.1;
    }
    to{
        
        opacity: 1;
    }
}
/*---------------------------------------------SLIDER-------------------------------------------*/
.search__input{
    width: 170px;
    height: 30px;
    background-color: #dcd6e9;
    border: none;
}
.headerMain{
    width: 100%;
    height: 788px;
    background: url(../img/fon.png) no-repeat center;
    padding-top: 300px;
}
.titleHeader{
    font-size: 49px;
    line-height: 95px;
    color: #ffffff;
    font-family: var(--fontLato);
    text-align: center;
    text-transform: uppercase;
}



